<!-- relative path can be used for routerLink in this case since will already be on '/recipes' -- this is the same as [routerLink]="['/recipes', recipeList.indexOf(recipe)]" -->
<a 
   style="cursor: pointer"
   class="list-group-item clearfix recipeItems"
   [routerLink]="[recipeList.indexOf(recipe)]"
   routerLinkActive="active">

  <div class="pull-left">
   <!-- below will be dynamic data (recipe name, description, and src of img) -->
   <h4 class="list-group-item-heading"> <b>{{ recipe.name }}</b> </h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>

  <span class="pull-right">
      <img 
       [src]="recipe.imagePath" 
       alt="{{ recipe.name }}" 
       class="img-responsive" 
       style="max-height: 50px;">
  </span>
</a>