<div class="row">
	<div class="col-xs-10">
		
		<shopping-edit></shopping-edit>
		<hr>
		<ul class="list-group">
			<!-- don't need href here since it'll be like a button -->
			<!-- need the 'id' of the ingredient, so will pass the index which will serve as the id -->
			<a 
			class="list-group-item" 
			style="cursor:pointer"
			*ngFor="let ingredient of ingredients; let i = index"
			(click)="onEditItem(i)"
			>
				{{ ingredient.name }} ({{ ingredient.amount }})
			</a>
		</ul>

	</div>
</div>