<div class="row">
	<div class="col-xs-12">
		<img [src]="currentRecipe.imagePath" 
			 alt="{{currentRecipe.name}}" 
			 class="img-responsive"
			 style="max-height: 300px">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1>{{currentRecipe.name}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="btn-group" appDropdown>
			<button type="button" 
			class="btn btn-primary 
			dropdown-toggle manageRecipeBtn"
			[disabled]="!authService.isAuthenticated()">
			Manage Recipe <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu">
		    	<li><a  routerLink="/shopping-list"
		    			style="cursor: pointer;"
		    		   (click)="addToList()">
		          <span class="glyphicon glyphicon-plus"></span> Shopping List
		        </a></li>
		    	<li><a  routerLink="edit"
		    			style="cursor: pointer;">
		    	  <span class="glyphicon glyphicon-pencil"></span> Edit Recipe
		    	</a></li>
		    	<li><a  (click)="onDelete()"
		    			style="cursor: pointer;">
		    	  <span class="glyphicon glyphicon-remove"></span> Delete Recipe
		    	</a></li>
		    </ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		{{currentRecipe.description}}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="list-group"
			*ngIf="currentRecipe !== null">
			<!-- access ingredients array of the current recipe selected (the list of recipes are found in recipe service) -->
			<li class=
			"list-group-item"
			*ngFor="let ingredient of currentRecipe.ingredients">
				{{ ingredient.name }} - {{ ingredient.amount }}
			</li>
		</ul>
	</div>
</div>