<div class="row">
	<div class="col-xs-12">
		<h3>Edit Shopping List</h3>
		<!-- template driven approach here; use ngModel to specify which fields are controls -->
		<form (ngSubmit)="onSubmitItem(f)" #f="ngForm">
			<div class="col-sm-5 col-no-padding form-group">
				<label for="itemName">Name</label>
				<input 
				 required
				 type="test" 
				 id="itemName" 
				 class="form-control"
				 name="itemName"
				 ngModel>
			</div>
			<div class="col-sm-2 col-no-padding form-group">
				<label for="amount">Amount</label>
				<!-- specify pattern validator, no numbers less than zero -->
				<!-- (checks input agains regex) -->
				<input 
				 required
				 pattern="^[1-9]+[0-9]*$"
				 type="number" 
				 id="amount" 
				 class="form-control"
				 name="amount"
				 ngModel>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<!-- ADD if adding item -->
					<!-- EDIT if editing item -->
					<button 
					 class="btn btn-success" 
					 type="submit"
					 [disabled]="!f.valid">
					 {{editMode ? 'Update' : 'Add'}}
				    </button>
					<button 
					 class="btn btn-danger" 
					 type="button"
					 (click)="onDelete()">
					Delete
				    </button>
					<button 
					 class="btn btn-primary" 
					 type="button"
					 (click)="onClear()">
					Clear
				    </button>
				</div>
			</div>
		</form>
	</div>
</div>
